#*.class
#*.log
/*/target/
#iml
#output/
#.idea_modules
#.idea
#out/
#dist/*
project/target/
#lib_managed/
#src_managed/
#project/boot/
#project/plugins/project/
#.history
#.cache
#.lib/
.class
*.log
.idea/
*.iml
*.ipr
*.iws
out
target
.cache